/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }

  /* Sections
     ========================================================================== */

  /**
   * Remove the margin in all browsers.
   */

  body {
    margin: 0;
  }

  /**
   * Render the `main` element consistently in IE.
   */

  main {
    display: block;
  }

  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /* Grouping content
     ========================================================================== */

  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  /* Text-level semantics
     ========================================================================== */

  /**
   * Remove the gray background on active links in IE 10.
   */

  a {
    background-color: transparent;
  }

  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

  b,
  strong {
    font-weight: bolder;
  }

  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  /**
   * Add the correct font size in all browsers.
   */

  small {
    font-size: 80%;
  }

  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /* Embedded content
     ========================================================================== */

  /**
   * Remove the border on images inside links in IE 10.
   */

  img {
    width: 100%;
    height: auto;
    border-style: none;
  }

  /* Forms
     ========================================================================== */

  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

  button,
  input { /* 1 */
    overflow: visible;
  }

  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

  button,
  select { /* 1 */
    text-transform: none;
  }

  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  /**
   * Remove the inner border and padding in Firefox.
   */

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /**
   * Restore the focus styles unset by the previous rule.
   */

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  /**
   * Correct the padding in Firefox.
   */

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

  progress {
    vertical-align: baseline;
  }

  /**
   * Remove the default vertical scrollbar in IE 10+.
   */

  textarea {
    overflow: auto;
  }

  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  /* Interactive
     ========================================================================== */

  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

  details {
    display: block;
  }

  /*
   * Add the correct display in all browsers.
   */

  summary {
    display: list-item;
  }

  /* Misc
     ========================================================================== */

  /**
   * Add the correct display in IE 10+.
   */

  template {
    display: none;
  }

  /**
   * Add the correct display in IE 10.
   */

  [hidden] {
    display: none;
  }

 /* forum-regular - latin */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('assets/fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto-v29-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('assets/fonts/roboto-v29-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto-v29-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
  --white: #FFFFFF;
  --black: #030303;
  --standart-font: 22px;
  --section-title: 80px;
  --little-spacing: 2px;
  --big-spacing: 5px;
  }

html {
    font: var(--standart-font) 'Roboto';
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
}

li {
    list-style: none;
}

.section {
    padding: 75px 0;
}

.dark-section {
  color: var(--white);
  background-color: var(--black);
}

.video-section {
    padding-top: 90px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.section-title {
  margin: 0;
  font-family: Forum;
  font-size: var(--section-title);
  line-height: 90px;
  letter-spacing: var(--big-spacing);
  text-transform: uppercase;
}

.dark-title {
  color: var(--white);
}

.light-title {
  color: #9D8665;
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

/* Header start*/
.page__header {
  padding-bottom: 35px;
}

.header {
    color: var(--white);
    background-color: var(--black);
}

.header-container {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    display: flex;
    align-items: flex-start;
    gap: 20px
}

.logo__img {
    width: 49px;
    height: 26px;
    background: url(/assets/svg/logo.svg);
    transition: .5s;
}

.logo__img:hover {
    filter: invert(50%);
}

.logo__name {
    margin: 0;
    font-family: Forum;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: var(--big-spacing);

}

.header__nav {
  width: 50%;
  max-width: 720px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}

.nav__a {
  color: var(--white);
  transition: .3s
}

.nav__a:hover {
  color: #9D8665;
}

.header__link {
  padding: 0 10px;
}

/* Welcome starts */
.welcome {
  background: url(assets/img/background.png) no-repeat;
  background-color: var(--black);
  background-position: calc(100%) calc(100%);
}

.welcome__container {
  margin-bottom: 180px;
}

.welcome__title {
  padding-top: 100px;
}

.welcome__subtitle {
  margin-bottom: 76px;
  font-weight: 300;
  font-size: 28px;
}

.button-link {
  padding: 24px 64px;
  border-radius: 10px;
  color: var(--white);
  background-color: #710707;
  transition: .4s;
}

.button-link:hover,
.button-link:focus {
  background-color: #9D8665;
}

/* Tour start */

.tour__title {
  margin-bottom: 103px;
}

.tour__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 78px 59px;
}

.tour__card {
  display: block;
  color: #000000;
}

.card__title {
  position: relative;
  margin: 25px 0px 21px;
  font-size: 32px;
  letter-spacing: var(--big-spacing);
  text-transform: uppercase;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 3px;
  width: 75%;
  background-color: #710707;
}

.card__virtual-tour {
  margin-bottom: 10px;
}

.card__view {
  margin: 0px;
  font-size: 18px;
}

/* Tour end */

/* Explore starts */

.explore__container {
  display: flex;
  gap: 60px;
}

.explore__title {
  margin-bottom: 103px;
}

.explore__inf {
  margin-bottom: 25px;
  font-weight: 300;
}

.veil {
  color: #9D8665;
}

.explore__img {
  flex-basis: 100%;
}

@media screen and (max-width: 1200px) {
  .explore__container {
    flex-direction: column-reverse;
  }
}

/* Explore end */

/* Video start*/

.video-img {
  background: #000000;
}

.video-img__wrapper {
  position: relative;
}

.video-img__play {
  position: absolute;
  left: calc(50% - 110px);
  top: calc(50% - 110px);
  width: 220px;
}

.video__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 24px 28px 41px;
}

.control__button {
  max-width: 38px;
  height: 30px;
}

.progress {
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
  border: solid 2px #82CFD0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  /* -webkit-appearance: none; */
}

.progress-viewing {
  width: 820px;
}

.progress-value {
  width: 155px;
}

.progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.fullscreen {
  transition: .2s;
}

.fullscreen:hover {
  filter: brightness(0.8);
}

.video__text {
  display: flex;
  gap: 115px;
  padding-top: 40px;
}

.video__title {
  margin: 0;
  flex-basis: 90%;
}

.video__inf {
  margin: 0;
  line-height: 38px;
  font-weight: 300;
}

/* Video end */

/* Ticket start */
.ticket__title {
  margin-bottom: 103px;
}

.ticket__content {
  display: flex;
  gap: 60px;
}

.ticket__img {
  width: 50%;
}

.ticket__form {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 60px);
}

.form__field {
  border: none;
}

.form__legend {
  font-size: 28px;
  font-weight: 700;
}

.form__legend_margin_big {
  margin-bottom: 50px;
}

.form__legend_margin_litle {
  margin-bottom: 11px;
  text-align: right;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 54px;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__ratio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: var(--white);
}

.form__ratio:checked ~ .checkmark::after {
  display: block;
}

.form-age__label {
  display: block;
  margin-bottom: 16px;
}

.age__selection {
  display: flex;
  margin-bottom: 35px;
  height: 50px;
  border: 3px solid var(--white);
}

.age-selection__btn {
  color: var(--white);
  border: none;
  background: transparent;
}

.number {
  all: unset;
  width: 4em;
  text-align: center;
}

.form__legend_p {
  margin: 50px 0;
}

.field__submit {
  width: 175px;
  height: 50px;
  letter-spacing: 2px;
}

/* Buy tickets end */

/* Contacts start */

.contacts__title {
  margin-bottom: 113px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__inf {
  max-width: 310px;
}

.inf__h3 {
  margin-bottom: 36px;
  font-size: 25px;
}

.contacts__address {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 45px;
}

.contacts__location {
  max-width: 960px;
}

/* Contacts end */

/* Footer start */

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  position: relative;
  right: 200px;
}

.footer__links {
  flex-flow: column wrap;
  max-height: 150px;
  gap: 30px 153px;
}

.nav-social {
  display: flex;
  align-self: flex-end;
  gap: 24px;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border: 1px solid #666666;
  border-radius: 50px;
}


